{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/audio-player.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/audio-player.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div id='audio-player'></div>

    <div class="heading">
        <h1><img src="{% static 'images/gasman_title.png' %}" alt="Gasman" width="100%"></h1>
        <h2>the world's number one ZX Spectrum rock star</h2>
    </div>
    <div class="panel">
        <p>Award winning chiptune artist <b>Gasman</b> has rocked dancefloors across Europe with his unique blend of energetic vocal performances, virtuoso keytar synth solos, and the nostalgic square wave sounds of the Sinclair ZX Spectrum.</p>
    </div>

    <div class='embed-container'>
        <iframe src="https://www.youtube.com/embed/videoseries?list=PLFDQaf5pzu29gFSkInnA61BXwmk5xdnpp" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

<script>
AP.init({
"playList": [
    {
        "title": "Gasman - In The Future",
        "file": "https://gasman-music.zxdemo.org/2019/gasman_-_in_the_future.mp3"
    },
    {
        "title": "Gasman - Dynamite (ninja versus pyrotechnic)",
        "file": "https://gasman-music.zxdemo.org/2019/gasman_-_dynamite.mp3"
    },
    {
        "title": "Gasman - Spacecake",
        "file": "https://gasman-music.zxdemo.org/2019/gasman_-_spacecake.mp3"
    },
    {
        "title": "Gasman - Cover Story",
        "file": "https://gasman-music.zxdemo.org/2019/gasman_-_cover_story.mp3"
    },
    {
        "title": "Gasman - Masterplan",
        "file": "https://gasman-music.zxdemo.org/2019/gasman_-_masterplan.mp3"
    },
    {
        "title": "Gasman - Dance All Night",
        "file": "https://gasman-music.zxdemo.org/2019/gasman_-_dance_all_night.mp3"
    },
    {
        "title": "Gasman - Thriller",
        "file": "https://gasman-music.zxdemo.org/2019/gasman_-_thriller.mp3"
    }
]
});
</script>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; border: 1px solid white; margin-top: 1em;}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://zxdemo.us19.list-manage.com/subscribe/post?u=7651a1c30095e92ced8b7fee4&amp;id=027366e3ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div id="mc_embed_signup_scroll">
<h2>A Gasman album in 2020? Why not! Sign up for updates...</h2>
<div class="mc-field-group">
<label for="mce-EMAIL">Email Address </label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7651a1c30095e92ced8b7fee4_027366e3ba" tabindex="-1" value=""></div>
<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

    <div class="panel">
        <h2>Previous adventures</h2>
        <ul>
            {% for news_item in news %}
                <li>{{ news_item.date_range_string }} - {{ news_item.body|richtext }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="panel">
        <h2>Get in touch</h2>
        <ul>
            <li><a href="https://twitter.com/gasmanic">@gasmanic</a></li>
            <li><a href="mailto:g&#97;sman@r&#97;ww.org">g&#97;sman@r&#97;ww.org</a></li>
        </ul>
    </div>
    <p class="credit">&copy; 2017 Matt Westcott. Photo by Chris O'Neill</p>
</div>

{% endblock content %}
