{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/audio-player.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/audio-player.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div id='audio-player'></div>

    <div class="heading">
        <h1><img src="{% static 'images/gasman_title.png' %}" alt="Gasman" width="100%"></h1>
        <h2>the world's number one ZX Spectrum rock star</h2>
    </div>
    <div class="panel">
        <p>Award winning chiptune artist <b>Gasman</b> has rocked dancefloors across Europe with his unique blend of energetic vocal performances, virtuoso keytar synth solos, and the nostalgic square wave sounds of the Sinclair ZX Spectrum.</p>
    </div>

    <div class='embed-container'>
        <iframe src="https://www.youtube.com/embed/videoseries?list=PLFDQaf5pzu29gFSkInnA61BXwmk5xdnpp" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <script>
    AP.init({
        "playList": {{ audio_tracks_json|safe }}
    });
    </script>

    {% include "includes/mailchimp_signup.html" %}

    <div class="panel">
        <h2>Previous adventures</h2>
        <ul>
            {% for news_item in news %}
                <li>{{ news_item.date_range_string }} - {{ news_item.body|richtext }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="panel">
        <h2>Get in touch</h2>
        <ul>
            <li><a href="https://twitter.com/gasmanic">@gasmanic</a></li>
            <li><a href="mailto:g&#97;sman@r&#97;ww.org">g&#97;sman@r&#97;ww.org</a></li>
        </ul>
    </div>
    <p class="credit">&copy; 2017 Matt Westcott. Photo by Chris O'Neill</p>
</div>

{% endblock content %}
