body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
article {
    margin: auto;
    max-width: 900px;
    background-color: #222;
    padding: 1em 2em;
}
h1 {
    text-align: center;
}
p {
    line-height: 1.35em;
}
a {
    color: #bbf;
}
a:visited {
    color: #caf;
}
blockquote, twitterwidget, iframe, img {
    margin: auto;
    text-align: center;
    display: block;
}
footer {
    font-style: italic;
    padding: 1em;
    margin: 1em;
    text-align: right;
}
